*.pyc
db.sqlite3
Data Files/ObservationPurposes.csv
Data Files/Observatories.csv
Data Files/ObservingPrograms.csv
Data Files/ObservingSessions.csv
Data Files/People.csv
Data Files/SpeckleRawData.csv
Data Files/TargetIdTypes.csv
Data Files/TargetLists.csv
Data Files/Targets.csv
Data Files/SpeckleRawData_orig.csv
Data Files/SpectrumRawData/LBT Spectra 2023-05.csv
Data Files/SpectrumRawData/LBT Spectra 2023-06.csv
Data Files/SpectrumRawData/LBT Spectra 2023-09.csv
Data Files/SpectrumRawData/LBT Spectra 2023-10.csv
Data Files/SpectrumRawData/LBT Spectra 2023-12.csv
Data Files/Target Lists/Featured Targets.csv
Data Files/Target Lists/HQND.csv
Data Files/Target Lists/Kostov 2022.csv
Data Files/Target Lists/Kostov 2023.csv
Data Files/Target Lists/LBT 2023-12-06.csv
Data Files/Target Lists/Speckle Resolved.csv
